<!-- header -->
    <!-- navigation bar -->
    <nav
      class="navbar navbar-expand-sm navbar-light text-light my-sm-0 justify-content-end"
    >
      <!-- navbarimage -->
      <div class="navbarimage">
        <a class="navbar-brand" href="#">
          <img
            class="navimg"
            src="https://wallpaperaccess.com/full/3188912.png"
            alt=""
            .align-text-top;
          />
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand text-capitalize" href="#">Pizza hunt</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Testmonials</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Veg-Pizza</a></li>
                <li><a class="dropdown-item" href="#">Non-Veg Pizza</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Cooldrinks</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/sign-up"
                >Sign-up</a
              >
            </li>
            <li class="nav-item">
              <!-- //define the route which you want to redirect it -->
              <a class="nav-link active" href="/users/sign-in"
                >Sign In</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- headertag -->
    <header>
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active peopleCarouselImg">
            <img
              src="https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/_DwuBKcLENDdu5ny15JU3dt3s8w=/1660x934/smart/filters:no_upscale()/cloudfront-us-east-1.images.arcpublishing.com/dmn/ZNORXFG45FEEBIRPSZAI2EKXFU.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item peopleCarouselImg">
            <img
              src="https://d.newsweek.com/en/full/1538955/pizza-hut.jpg?w=1600&h=900&q=88&f=79d53417afb368885f3a85bb78a72132"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item peopleCarouselImg">
            <img
              src="https://cdn.vox-cdn.com/thumbor/XpVWZf1-H8tW-4ypvzklUw1XSvk=/0x0:2661x1774/1200x800/filters:focal(1115x657:1539x1081)/cdn.vox-cdn.com/uploads/chorus_image/image/64082468/Pizza_Hut_Athens_OH_USAedit.0.jpeg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>